@using CookBook.Application.ApplicationUser;
@model CookBook.Application.ApplicationUser.UserDto

@{
    ViewData["Title"] = "Profil użytkowika";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isCurrent = (ViewBag.IsUserCurrent == "Y") ? true : false;
    var userEmail = (Model.Email != null && Model.Email.Length > 0) ? Model.Email : "brak";
    var userPhone = (Model.PhoneNumber != null && Model.PhoneNumber.Length > 0) ? Model.PhoneNumber : "brak";
    var userCreatedTime = UserDto.GetFormattedTime(Model.CreatedTime);
    var userLastLogOnTime = UserDto.GetFormattedTime(Model.LastLogOnTime);
}

@if (isCurrent)
{
    <h3>Mój profil</h3>
}
else
{
    <h3>Profil użytownika: @Model.UserName</h3>
}

<hr />

<div class="row">
    <div class="col-12 col-md-3">
        <div class="pt-1 ps-1 mb-1 bg-light">
            <h6><strong>Nazwa użytkownika:</strong></h6>
            <h6> @Model.UserName</h6>
        </div>
        <div class="pt-1 ps-1 mb-1 bg-light">
            <h6><strong>Email:</strong></h6>
            <h6> @userEmail</h6>
        </div>
        <div class="pt-1 ps-1 mb-1 bg-light">
            <h6><strong>Numer telefonu:</strong></h6>
            <h6> @userPhone</h6>
        </div>
        <div class="pt-1 ps-1 mb-1 bg-light">
            <h6><strong>Data dołączenia:</strong></h6>
            <h6> @userCreatedTime</h6>
        </div>
        <div class="pt-1 ps-1 mb-1 bg-light">
            <h6><strong>Data ostatniej aktywności:</strong></h6>
            <h6> @userLastLogOnTime</h6>
        </div>
        @if (isCurrent)
        {
            <div class="ps-1 mb-2">
                <a asp-area="Identity" asp-page="/Account/Manage/Index"
                   class="btn btn-primary w-100">Ustawienia konta</a>
            </div>
        }
    </div>
    <div class="col-12 col-md-9">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" id="recipes-tab" data-bs-toggle="tab" data-bs-target="#recipes" type="button" role="tab" aria-controls="recipes" aria-active="true">Moje przepisy</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="ingridients-tab" data-bs-toggle="tab" data-bs-target="#ingridients" type="button" role="tab" aria-controls="ingridients" aria-active="true">Moje składniki</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="units-tab" data-bs-toggle="tab" data-bs-target="#units" type="button" role="tab" aria-controls="units" aria-active="true">Moje jednostki</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
                <partial name="_AllUserRecipes" model="@Model.UserRecipes" />
            </div>
            <div class="tab-pane fade show" id="ingridients" role="tabpanel" aria-labelledby="ingridients-tab">
                <partial name="ItemListViews/_ItemList" model="@Model.UserIngridients" />
            </div>
            <div class="tab-pane fade show" id="units" role="tabpanel" aria-labelledby="units-tab">
                <partial name="ItemListViews/_ItemList" model="@Model.UserUnits" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Recipe/Delete.js"></script>
    <script src="~/js/ItemList/Edit.js"></script>
    <script src="~/js/ItemList/Delete.js"></script>
}