@model Pagination

<div class="container mt-1">
    <ul class="pagination justify-content-center pagination-no-border-radius">
        <li class="page-item-square @(Model.CurrentPage == 1 ? "active" : "")" title="Poprzednia">
            @if(Model.CurrentPage > 1)
            {
            <a class="page-link bg-secondary" asp-action="@Model.Action"
                asp-route-page="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize"
                   asp-route-search="@Model.SearchPhrase" asp-route-sortOrder="@Model.SortOrder">
                    <i class="bi bi-chevron-left"></i>
            </a>
            }
        </li>
        @if (Model.TotalPages > 1)
        {
            <li class="page-item-square @(Model.CurrentPage == 1 ? "active" : "")" title="Pierwsza">
                @if(Model.CurrentPage > 1)
                {
                    <a class="page-link" asp-action="@Model.Action"
                       asp-route-page="1" asp-route-pageSize="@Model.PageSize"
                       asp-route-search="@Model.SearchPhrase" asp-route-sortOrder="@Model.SortOrder">
                        1
                    </a>
                }
                else
                {
                    <span class="page-link">1</span>
                }              
            </li>
        }
        @if(Model.StartPage > 2)
        {
            <li>...</li>
        }
        @for(var p = Model.StartPage; p<=Model.EndPage; p++)
        {
            if (p != 1 && p!= Model.TotalPages)
            {
                <li class="page-item-square @(p==Model.CurrentPage ? "active" : "")">
                @if(p != Model.CurrentPage)
                {
                    <a class="page-link" asp-action="@Model.Action"
                        asp-route-page="@p" asp-route-pageSize="@Model.PageSize"
                           asp-route-search="@Model.SearchPhrase" asp-route-sortOrder="@Model.SortOrder">
                            @p
                    </a>
                }
                else
                {
                    <span class="page-link">@p</span>
                }              
                </li>
            }           
        }
        @if(Model.EndPage < Model.TotalPages - 1)
        {
            <li>...</li>
        }
        <li class="page-item-square @(Model.CurrentPage == Model.TotalPages ? "active" : "")" title="Ostatnia">
            @if(Model.CurrentPage < Model.TotalPages)
            {
                <a class="page-link" asp-action="@Model.Action"
                   asp-route-page="@Model.TotalPages" asp-route-pageSize="@Model.PageSize"
                   asp-route-search="@Model.SearchPhrase" asp-route-sortOrder="@Model.SortOrder">
                    @Model.TotalPages
                </a>
            }
            else
            {
                <span class="page-link">@Model.TotalPages</span>
            }
            
        </li>
        <li class="page-item-square @(Model.CurrentPage == Model.TotalPages ? "active" : "")" title="Następna">
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a class="page-link bg-secondary" asp-action="@Model.Action"
                    asp-route-page="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize"
                    asp-route-search="@Model.SearchPhrase" asp-route-sortOrder="@Model.SortOrder"><i class="bi bi-chevron-right"></i>
                </a>
            }
        </li>
    </ul>
</div>