@model IEnumerable<CookBook.Application.Commons.IItemListDto>

@{
    var code = ViewBag.Code;
    bool isProfile = (ViewBag.IsProfile != null && (string)ViewBag.IsProfile == "Y") ? true : false;
    string actionName = "Index";
}

<table class="table">
    <thead>
        <tr>
            @if (!isProfile)
            {
                <th>
                    @Html.ActionLink("Nazwa", actionName, new { search = ViewBag.SearchPhrase, sortOrder = ViewBag.NameSortOrder, pageSize = ViewBag.PageSize}, new {@class = ViewBag.NameIconClass})
                </th>
                <th>
                    @Html.ActionLink("Dodane przez", actionName, new { search = ViewBag.SearchPhrase, sortOrder = ViewBag.AuthorSortOrder, pageSize = ViewBag.PageSize}, new {@class = ViewBag.AuthorIconClass})
                </th>
                <th>
                    @Html.ActionLink("Data dodania", actionName, new { search = ViewBag.SearchPhrase, sortOrder = ViewBag.DateSortOrder, pageSize = ViewBag.PageSize}, new {@class = ViewBag.DateIconClass})
                </th>
            }
            else
            {
                <th>Nazwa</th>
                <th>Data dodania</th>
            }
            @foreach (var item in Model)
            {
                @if (item.IsEditable && !isProfile)
                {
                    <th>Akcje</th>
                }
                break;
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (!isProfile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                @if (item.IsEditable && !isProfile)
                {
                    <td>
                        <a title="Szczegóły" class="btn btn-outline-primary btn-sm" onclick="ShowDetailsModal('@item.Name','@item.CreatedTime','@item.CreatedBy')"><i class="bi bi-eye"></i></a>
                        <a title="Edytuj" class="btn btn-outline-primary btn-sm" onclick="ShowEditModal('@item.Name')"><i class="bi bi-pencil"></i></a>
                        <a title="Usuń" class="btn btn-outline-danger btn-sm" onclick="ShowDeleteModal('@item.Name','@code.ToString()')"><i class="bi bi-trash"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
