@using CookBook.Application.Commons;
@using CookBook.Application.IngridientUtils;
@using CookBook.Application.UnitUtils;
@using CookBook.Application.RecipeUtils;
@model IEnumerable<CookBook.Application.Commons.IItemListDto>

@{
    ViewData["Title"] = "Składniki";
    Pagination pages = ViewBag.Pages;
    var code = ViewBag.Code;
    string subtitle = "";
    string backToList = "";
    string backToAction = "Index";
    IItemListDto createModel;
    switch (code)
    {
        case ItemCodes.UNIT:
            subtitle = "Lista wszystkich dostępnych jednostek";
            backToList = "Wróc do listy wszystkich jednostek";
            createModel = new UnitDto();
            break;
        case ItemCodes.CATG:
            subtitle = "Lista wszystkich dostępnych kategorii";
            backToList = "Wróc do listy wszystkich kategorii";
            createModel = new RecipeCategoryDto();
            break;
        default: //domyślnie przekazujemy składniki (INGR)
            subtitle = "Lista wszystkich dostępnych składników";
            backToList = "Wróc do listy wszystkich składników";
            createModel = new IngridientDto();
            break;
    }
}

<h3>@subtitle</h3>
<hr />
<div class="row">
    <div class="col-12 col-md-3">
        <div class="mb-3">
            <partial name="ItemListViews/_ItemCreate" model="@createModel" />
        </div>
        <div class="mb-1">
            <partial name="ItemListViews/_ItemSearch" model="@pages" />
        </div>
        @if (!string.IsNullOrEmpty(pages.SearchPhrase))
        {
            <div>
                <a asp-action="@backToAction"
                   asp-route-pageSize="@pages.PageSize" asp-route-sortOrder="@pages.SortOrder"
                   class="btn btn-outline-primary w-100">@backToList</a>
            </div>
        }
    </div>
    <div class="col-12 col-md-9 mt-3">
        <div class="row">
            <div class="col-12">
                <partial name="_TopPaginationBar" model="@pages" />
            </div>
        </div>

        <div>
            <partial name="ItemListViews/_ItemList" model="@Model" />
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="_BottomPaginationBar" model="@pages" />
            </div>
        </div>
    </div>
</div>

<partial name="ItemListViews/_EditItemModal" />
<partial name="ItemListViews/_ConfirmDeleteModal" />

<input id="currentItemName" type="hidden" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Pagination/Pages.js"></script>
    <script src="~/js/ItemList/Edit.js"></script>
    <script src="~/js/ItemList/Delete.js"></script>
}
