@model CookBook.Application.RecipeUtils.RecipeDto

@{
    ViewData["Title"] = @Model.Name;
}
<div class="container d-flex justify-content-center">
<div  class = "col-sm-8">
    <h3>@Model.Name @if (Model.OnlyForAdults)
    {
        <span class="badge bg-warning">18+</span>
    }
    </h3>

    <hr class="mb-0 mt-0"/>
    <div class="d-flex justify-content-between">
        <div>Autor: @Model.Author</div>
        <div><i class="bi bi-calendar2"></i>  @Model.CreatedTime</div>
    </div>
     
    <div class="mb-3 mt-2">
        @if(Model.ImageName is not null)
        {
            <img class="img-fluid"  src="@("~/images/"+Model.ImageName)" asp-append-version="true"/>
        }
    </div>
    <div class="row mb-3">
        <div class="col-sm-4 border-end border-2">
            <div class = "fw-bold">Składniki</div>
            <div id="ingridientsList" name="details" class="row" data-recipe-id="@Model.Id"></div>
        </div>
        <div class="col-sm-8">
            <div class = "fw-bold">Opis przygotowania</div> 
            <div class = "mb-3" style="white-space: pre-line">@Model.Description</div>
        </div>
    </div> 
    <div> 
    <a asp-action="Index" class="btn btn-secondary">Wróc do listy przepisów</a>
    @*@if (Model.IsEditable)
    {
        <a class="btn btn-outline-primary" asp-controller="Recipe" asp-action="Edit" asp-route-Id="@Model.Id.ToString()">Edytuj</a>            
    }*@
</div>
</div>
</div>

@section Scripts {
    <script src="~/js/Recipe/Details.js"></script>
}
