@model CookBook.Application.RecipeUtils.RecipeDto

@{
    ViewData["Title"] = @Model.Name;
}
<div class="container d-flex justify-content-center">
<div  class = "col-sm-8">
    <h3>@Model.Name @if (Model.OnlyForAdults)
    {
        <span class="badge bg-warning">18+</span>
    }
    </h3>

    <hr class="mb-0 mt-0"/>
    <div class="d-flex justify-content-between">
        <div>Autor: @Model.Author</div>
        <div>Data dodania: @Model.CreatedTime</div>
    </div>
     
    <div class="mb-3 mt-2">
        @if(Model.ImageName is not null)
        {
            <img class="img-fluid"  src="@("~/images/"+Model.ImageName)" asp-append-version="true"/>
        }
    </div>
    <div class = "fw-bold">Opis przygotowania</div> 
    <div class="mb-3">@Model.Description</div> 
    <div> 
    <a asp-action="Index" class="btn btn-outline-secondary">Wróc do listy przepisów</a>
    <a class="btn btn-outline-primary" asp-controller="Recipe" asp-action="Edit" asp-route-Id="@Model.Id.ToString()">Edytuj</a>
</div>
</div>
</div>
