@using CookBook.Application.RecipeUtils.Commands.CreateRecipeIngridient
@using CookBook.Application.RecipeUtils.Commands.EditRecipeIngridient;
@using CookBook.Application.RecipeUtils;
@model CookBook.Application.RecipeUtils.RecipeDto;

@{
    ViewData["Title"] = "Edytuj przepis";
    var categories = (List<RecipeCategoryDto>)ViewBag.Categories;
}
<div class="row">
    <div class="col-md-5">
        <partial name="_CreateRecipeIngridients" model="new CreateRecipeIngridientCommand() {RecipeId = Model.Id}"/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody id="ingridientsList" name="edit" data-recipe-id="@Model.Id">
            </tbody>
        </table>
    </div>
    <div class="col-md-1 mb-3"></div>
    <div class="col-md-5">
        <h4>Edytuj przepis</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Nazwa (wymagane)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="CategoryId">Kategoria (wymagane)</label>
                <select class="form-select" asp-for="CategoryId">
                    @foreach(var cat in categories)
                    {
                        if(cat.CategoryId == Model.CategoryId)
                        {
                            <option value="@cat.CategoryId" selected>@cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.CategoryId">@cat.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Opis przygotowania</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Servings">Ilość porcji</label>
                <input class="form-control" type="text" asp-for="Servings" placeholder="Wpisz na ile porcji jest przepis">   
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Source">Źródło przepisu</label>
                <input class="form-control" type="text" asp-for="Source" placeholder="Podaj źródło przepisu jesli nie jesteś jego autorem">   
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="eafo" asp-for="OnlyForAdults" />
                        <label class="form-check-label" for="eafo">Tylko dla pełnoletnich</label>
                    </div>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="eisv" asp-for="IsVegeterian" />
                        <label class="form-check-label" for="eisv">Przepis wegetariański</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="eshr" asp-for="IsHidden" />
                        <label class="form-check-label" for="eshr" title="Nie wyświetlaj na stronie głównej i w wynikach wyszukiwania">Ukryj przepis</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    @if(Model.ImageName == null)
                    {
                        <div>Brak zdjęcia</div>
                    }
                    else
                    {
                       <div><img width="122" height="auto" class="mb-1" src="@("~/images/"+Model.ImageName)" asp-append-version="true"/></div>                
                    }
                    <a asp-controller="Recipe" asp-action="EditImage" asp-route-Id="@Model.Id.ToString()" class="btn btn-secondary mb-3">Zmień zdjęcie</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Index">Anuluj</a>
            </div>
        </form>
    </div>
</div>

<partial name="_ConfirmDeleteRecipeIngridientModal"/>
<partial name="_EditRecipeIngridients" model="new EditRecipeIngridientCommand() {RecipeId = Model.Id}"/>

@*hidden input to store ingridientId*@
<input type="hidden" id="ingridientId"/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Recipe/Edit.js"></script>
}
