@model IEnumerable<CookBook.Application.RecipeUtils.PreviewRecipeDto>

@{
    ViewData["Title"] = "Przepisy";
}

    @*<div class="input-group mb-3">
        <a asp-action="Create" class="btn btn-outline-primary">Dodaj składnik</a>
        <input type="text" class="form-control" placeholder="Wyszukaj przepis" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Szukaj</button>
    </div>*@

<div class="album py-2 bg-body-tertiary">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach(var item in Model)
        {
            <div class="col">
                <div class="card shadow-sm m-3" style="width: auto">
                    @if(item.ImageName is null)
                    {
                        <img title="@item.Name" class="bd-placeholder-img card-img-top" src="~/images/placeholder.jpg" asp-append-version="true"/>
                    }
                    else
                    {
                        <img  title="@item.Name" class="bd-placeholder-img card-img-top" src="@("~/images/"+item.ImageName)" asp-append-version="true"/>
                    }
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2">@item.GetShortName()</h5>                      
                        <a title="@item.Name" class="btn btn-primary" asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@item.Id.ToString()">Szczegóły</a>
                        @if (item.OnlyForAdults)
                        {
                            <span class="badge bg-warning float-end">18+</span>
                        }                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
