@model CookBook.Application.RecipeUtils.RecipeIndexDto

@{
    ViewData["Title"] = "Przepisy";
    string searchPhrase = string.IsNullOrEmpty(ViewBag.SearchPhrase) ? "Wyszukaj przepis" : ViewBag.SearchPhrase; 
}

<form asp-controller="Recipe" asp-action="Index" method="get">
<div class="input-group mb-3">
        <a class="btn btn-outline-primary @(!Model.IsInSearchMode ? "disabled" : "")" asp-controller="Recipe" asp-action="Index"><i class="bi bi-arrow-left"></i></a>
    
    <input type="text" name="searchPhrase" class="form-control" placeholder="@searchPhrase" id="searchPhrase">
    <input value="Szukaj" class="btn btn-primary" type="submit">
</div>
</form>

<div class="album py-2 bg-body-tertiary">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if(Model.Recipes.Count() == 0)
        {
            <p class="btn btn-primary disabled">Brak przepisów spełniających podane kryteria</p>
        }
        @foreach(var item in Model.Recipes)
        {
            <div class="col">
                <div class="card shadow-sm m-3" style="width: auto">
                    @if(item.ImageName is null)
                    {
                        <img title="@item.Name" class="bd-placeholder-img card-img-top" src="~/images/placeholder.jpg" asp-append-version="true"/>
                    }
                    else
                    {
                        <img  title="@item.Name" class="bd-placeholder-img card-img-top" src="@("~/images/"+item.ImageName)" asp-append-version="true"/>
                    }
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2">@item.GetShortName()</h5>                      
                        <a title="@item.Name" class="btn btn-primary" asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@item.Id.ToString()">Szczegóły</a>
                        @if (item.OnlyForAdults)
                        {
                            <span class="badge bg-warning float-end pe-2 ps-2">18+</span>
                        }                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
