@model CookBook.Application.RecipeUtils.RecipeAdvancedSearchDto

@{
    ViewData["Title"] = "Wyszukiwanie zaawansowane";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-secondary mt-1" asp-controller="Recipe" asp-action="AdvancedSearch">
    <i class="bi bi-arrow-left-square"></i> Zmień wyszukiwanie
</a> <br /> 
@if(Model.Recipes.Count() == 0)
{       
    <a class="btn btn-primary disabled">Brak przepisów spełniających podane kryteria</a>
}
else
{
    @if(Model.Mode == 1)
    {
        <a class="btn btn-primary disabled mt-1">Przepisy zawierające wszystkie składniki z listy: </a>
    }
    else
    {
         <a class="btn btn-primary disabled mt-1">Przepisy zawierające tylko składniki z listy: </a>
    }
    
    @foreach(var ing in Model.IngridientsToSearch)
    {
        <a class="btn btn-secondary disabled mt-1">@ing</a>
    }
}
<div class="album py-2 bg-body-tertiary">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach(var item in Model.Recipes)
        {
            <div class="col">
                <div class="card shadow-sm m-3" style="width: auto">
                    @if(item.ImageName is null)
                    {
                        <img title="@item.Name" class="bd-placeholder-img card-img-top" src="~/images/placeholder.jpg" asp-append-version="true"/>
                    }
                    else
                    {
                        <img  title="@item.Name" class="bd-placeholder-img card-img-top" src="@("~/images/"+item.ImageName)" asp-append-version="true"/>
                    }
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2">@item.GetShortName()</h5>                      
                        <a title="@item.Name" class="btn btn-primary" asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@item.Id.ToString()">Szczegóły</a>
                        @if (item.IsVegeterian)
                        {
                            <span class="badge bg-success float-end pe-2 ps-2">Wege</span>
                        } 
                        @if (item.OnlyForAdults)
                        {
                            <span class="badge bg-warning float-end pe-2 ps-2">18+</span>
                        }                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>