@using CookBook.Application.IngridientUtils;
@model IEnumerable<CookBook.Application.IngridientUtils.IngridientDto>

@{
    ViewData["Title"] = "Składniki";
}

<h3>Lista wszystkich dostępnych składników</h3>
<div class="mb-3">
    <partial name="_CreateIngridient" model="new IngridientDto()"/>
</div>
@*<a asp-action="Create" class="btn btn-outline-primary">Dodaj składnik</a>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Utworzone przez
            </th>
            <th>
                Data dodania
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { /* id=item.PrimaryKey */ }, new{@class="btn btn-primary"}) |
                @Html.ActionLink("Szczegóły", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
