@using CookBook.Application.IngridientUtils.Commands.EditIngridient;
@using CookBook.Application.UnitUtils.Commands.EditUnit;
@using CookBook.Application.CommonDtos;
@model IEnumerable<CookBook.Application.CommonDtos.ItemListDto>

@{
    ViewData["Title"] = "Składniki";
    Pagination pages = ViewBag.Pages;
    string code = ViewBag.Code;
}

<h3>Lista wszystkich dostępnych składników</h3>
<hr />
<div class="row">
    <div class="col-12 col-md-3">
        <div class="mb-3">
            <partial name="ItemListViews/_ItemCreate" model="new ItemListDto()" />
        </div>
        <div class="mb-1">
            <partial name="ItemListViews/_ItemSearch" model="@pages" />
        </div>
        @if (!string.IsNullOrEmpty(pages.SearchPhrase))
         {
            <div>
                <a asp-action="Index" 
                    asp-route-pageSize="@pages.PageSize" asp-route-sortOrder="@pages.SortOrder"
                    class="btn btn-outline-primary w-100">Wróc do listy wszystkich składników</a>
            </div>               
         }
    </div>
    <div class="col-12 col-md-9 mt-3">
        <div class="row">
            <div class="col-12">
                <partial name="_TopPaginationBar" model="@pages" />
            </div>
        </div>

        <div>
            <partial name="ItemListViews/_ItemList" model="@Model" />
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="_BottomPaginationBar" model="@pages" />
            </div>
        </div>
    </div>
</div>

<partial name="ItemListViews/_EditItemModal" />
<partial name="ItemListViews/_ConfirmDeleteModal" />

<input id="currentItemName" type="hidden"/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Pagination/Pages.js"></script>
    <script src="~/js/ItemList/Edit.js"></script>
    <script src="~/js/ItemList/Delete.js"></script>
}
