@using CookBook.Application.UnitUtils;
@model IEnumerable<CookBook.Application.UnitUtils.UnitDto>

@{
    ViewData["Title"] = "Jednostki";
}

<h3>Lista wszystkich dostępnych jednostek</h3>
<div class="row">
    <div class="col-12 col-md-3">
        <div class="mb-3">
            <partial name="_Create" model="new UnitDto()"/>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Utworzone przez
                    </th>
                    <th>
                        Data dodania
                    </th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        @Html.ActionLink("", "Edit", new { /* id=item.PrimaryKey */ }, new{@class="bi bi-pencil-square"}) &nbsp;
                        @Html.ActionLink("", "Delete", new { /* id=item.PrimaryKey */ }, new{@class="bi bi-x-square link-danger"}) 
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

