@model IEnumerable<CookBook.Application.UnitUtils.UnitDto>

@{
    ViewData["Title"] = "Jednostki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista wszystkich dostępnych jednostek</h3>

<p>
    <a asp-action="Create">Dodaj nową jednostkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Utworzone przez
            </th>
            <th>
                Data dodania
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
